<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <title>Title</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6 col-md-6">
          <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingOne">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseOne"
                  aria-expanded="false"
                  aria-controls="flush-collapseOne"
                >
                  Thông tin
                </button>
              </h2>
              <div
                id="flush-collapseOne"
                class="accordion-collapse collapse"
                aria-labelledby="flush-headingOne"
                data-bs-parent="#accordionFlushExample"
              >
                <div class="accordion-body">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea
                  sapiente dignissimos, id exercitationem, voluptatibus culpa
                  sed ipsam repudiandae voluptas maiores eius minima quae
                  doloremque sunt recusandae quisquam atque nam! Assumenda aut
                  minima, illo magnam accusamus tenetur porro at eveniet soluta
                  odit cumque eum, numquam, ducimus suscipit quibusdam quas
                  reprehenderit beatae? Placeholder content for this accordion,
                  which is intended to demonstrate the
                  <code>.accordion-flush</code> class. This is the first item's
                  accordion body.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingTwo">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseTwo"
                  aria-expanded="false"
                  aria-controls="flush-collapseTwo"
                >
                  Accordion Item #2
                </button>
              </h2>
              <div
                id="flush-collapseTwo"
                class="accordion-collapse collapse"
                aria-labelledby="flush-headingTwo"
                data-bs-parent="#accordionFlushExample"
              >
                <div class="accordion-body">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Officia nostrum eligendi aspernatur vitae quod eveniet
                  molestias temporibus quaerat. Ut cumque, sequi fuga soluta,
                  necessitatibus nulla maiores quia, repellat consectetur ab
                  veniam voluptatem fugiat error illum magnam iure commodi
                  excepturi! Iste, tempore illum modi nulla consectetur nesciunt
                  error quod ad. Cupiditate debitis aperiam totam impedit.
                  Ratione, dolorum necessitatibus? Dicta laborum tempora officia
                  voluptatibus nostrum incidunt id, perspiciatis at repellendus
                  iusto earum accusantium nulla, nemo labore ipsa odit aliquam,
                  maiores facilis laboriosam suscipit dolorum saepe asperiores
                  itaque? Recusandae, earum facilis perspiciatis, accusantium
                  quasi, nobis accusamus veniam reprehenderit perferendis ipsa
                  assumenda! Id, a. Placeholder content for this accordion,
                  which is intended to demonstrate the
                  <code>.accordion-flush</code> class. This is the second item's
                  accordion body. Let's imagine this being filled with some
                  actual content.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingThree">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseThree"
                  aria-expanded="false"
                  aria-controls="flush-collapseThree"
                >
                  Accordion Item #3
                </button>
              </h2>
              <div
                id="flush-collapseThree"
                class="accordion-collapse collapse"
                aria-labelledby="flush-headingThree"
                data-bs-parent="#accordionFlushExample"
              >
                <div class="accordion-body">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis
                  consequatur sapiente, quidem aliquam assumenda necessitatibus
                  maxime eius incidunt ipsa, nostrum velit, laudantium illum
                  repudiandae rerum libero dolore ipsum cupiditate cumque
                  laboriosam ratione. Animi facilis nulla architecto unde,
                  molestiae omnis quos perferendis eveniet ad voluptates
                  repellendus et veniam fuga sit qui? Placeholder content for
                  this accordion, which is intended to demonstrate the
                  <code>.accordion-flush</code> class. This is the third item's
                  accordion body. Nothing more exciting happening here in terms
                  of content, but just filling up the space to make it look, at
                  least at first glance, a bit more representative of how this
                  would look in a real-world application.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
