/* reset css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.banner-bg {
    background: url(./assets/img/pexels-yuliia-tretynychenko-12059389.jpg) no-repeat center center/cover;
}

img {
    height:  12.5rem;
    object-fit: cover;
}